---
import { Image } from "astro:assets"
import profile from "@img/profile.png"
import Layaout from "../layouts/Layout.astro"
import Calendar from "@components/Calendar.tsx"
---

<Layaout title="Agency date">
	<main class="mt-24 w-full flex justify-center">
		<div
			class="w-[1024px] grid grid-cols-6 grid-rows-1 gap-0 shadow-xl rounded-xl"
		>
			<section class="border-r-2 p-10 col-span-2">
				<figure class="flex flex-col gap-2">
					<Image src={profile} alt="Profile " class="w-20 h-20 rounded-full" />

					<figcaption>
						<h2 class="font-medium">Eduardo Lopéz</h2>
						<h3 class="font-bold text-2xl">15 Minute Demo with Eduardo</h3>
					</figcaption>
				</figure>
				<span>15 min</span>
			</section>
			<section class="rounded-xl col-span-4 px-6 py-4 flex flex-col gap-6">
				<h2 class="text-xl font-bold">Select a Date & Time</h2>
				<Calendar client:idle />
				<div>
					<h4>Time zone</h4>
					<p>Central European time</p>
				</div>
			</section>
		</div>
	</main>
</Layaout>

<!-- <script>
	const today = new Date()
	let currentMonth = today.getMonth()
	let currentYear = today.getFullYear()

	const generateMonth = () => {
		const month = document.getElementById("month")
		if (!month) throw new Error("Month not found")

		month.innerHTML = ""

		const prev = document.createElement("button")
		prev.textContent = "<"
		prev.disabled =
			currentMonth === today.getMonth() && currentYear === today.getFullYear()
		prev.classList.add(
			"flex",
			"shadow-md",
			"rounded-full",
			"w-8",
			"h-8",
			"font-bold",
			"text-lg",
			"justify-center",
			"text-center",
			"bg-blue-100",
			"text-blue-600",
			"hover:bg-blue-600",
			"hover:text-blue-100",
			"disabled:bg-transparent",
			"disabled:text-gray-400",
			"disabled:cursor-default",
			"disabled:shadow-none",
			"disabled:hover:bg-transparent",
			"disabled:hover:text-gray-400"
		)
		prev.addEventListener("click", () => {
			if (currentMonth === 0) {
				currentMonth = 11
				currentYear--
			} else {
				currentMonth--
			}
			generateCalendar()
			generateMonth()
		})
		month.appendChild(prev)

		const span = document.createElement("span")
		span.textContent = `${currentMonth + 1}/${currentYear}`
		month.appendChild(span)

		const next = document.createElement("button")
		next.textContent = ">"
		next.disabled =
			currentMonth > today.getMonth() && currentYear === today.getFullYear()
        next.classList.add(
			"flex",
			"shadow-md",
			"rounded-full",
			"w-8",
			"h-8",
			"font-bold",
			"text-lg",
			"justify-center",
			"text-center",
            "bg-blue-100",
            "text-blue-600",
            "hover:bg-blue-600",
            "hover:text-blue-100",
            "disabled:bg-transparent",
            "disabled:text-gray-400",
            "disabled:cursor-default",
            "disabled:shadow-none",
            "disabled:hover:bg-transparent",
            "disabled:hover:text-gray-400"
		)

		next.addEventListener("click", () => {
			if (currentMonth === 11) {
				currentMonth = 0
				currentYear++
			} else {
				currentMonth++
			}

			generateCalendar()
			generateMonth()
		})
		month.appendChild(next)
	}
	generateMonth()

	const generateCalendar = () => {
		const calendar = document.getElementById("calendar")
		if (!calendar) {
			throw new Error("Calendar not found")
		}
		calendar.innerHTML = ""

		const daysInMonth = new Date(currentYear, currentMonth + 1, 0).getDate()
		const firstDay = new Date(currentYear, currentMonth, 1).getDay()
		//--- days---

		function selectDate(cell, date) {
			// Deseleccionar todos los días
			const selectedCells = document.querySelectorAll(".selected")
			selectedCells.forEach((selectedCell) => {
				selectedCell.classList.remove("selected")
			})

			// Seleccionar el día clicado
			cell.classList.add("selected")
			const time = document.getElementById("time")
			if (!time) throw new Error("Time not found")
			time.innerHTML = ""
			const span = document.createElement("span")

			span.textContent = `${date}/${currentMonth + 1}/${currentYear}`

			time.appendChild(span)
			// alert(`Fecha seleccionada: ${date}/${currentMonth + 1}/${currentYear}`)
		}

		const daysOfWeek = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]

		daysOfWeek.forEach((day) => {
			const span = document.createElement("span")
			span.textContent = day
			span.classList.add()
			calendar.appendChild(span)
		})

		for (let i = 1; i < firstDay; i++) {
			const span = document.createElement("span")
			span.classList.add("text-gray-400")
			calendar.appendChild(span)
		}
		const today = new Date().getDate()
		for (let i = 1; i <= daysInMonth; i++) {
			const button = document.createElement("button")
			button.textContent = i.toString()
			button.addEventListener("click", (e) => selectDate(e.target, i))
			button.classList.add(
				"flex-1",
				"shadow-md",
				"rounded-full",
				"w-10",
				"h-10",
				"font-bold",
				"text-lg"
			)
			if (i < today) {
				button.classList.add("text-gray-400")
				button.disabled = true
			} else if (i === today) {
				button.classList.add(
					"bg-blue-50",
					"shadow-none",
					"text-blue-500",
					"transition-all",
					"hover:bg-blue-100",
					"selected"
				)
			} else {
				button.classList.add(
					"bg-blue-50",
					"shadow-none",
					"text-blue-500",
					"transition-all",
					"hover:bg-blue-100"
				)
			}

			calendar.appendChild(button)
		}
	}
	generateCalendar()
</script> -->
